/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

footer {
  justify-content: flex-start;
  background-color: #f8f9fa;
  padding: 5px;
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
}

.company-name {
  color: #495057;
  line-height: 0.5em;
  font-size: 13px;
  padding-bottom: 15px;
}

.github-info {
  color: #212529;
  line-height: 0.5em;
  font-size: 13px;
  padding-bottom: 20px;
}

.github-info a {
  color: #212529;
  text-decoration: none;
}

.github-info a:hover {
  color: #000;
}

#wordsOnImage {
  color: white;
  text-align: center;
}

.image-container {
  display: flex;
  object-fit: fill;
  justify-content: center;
}

.heading-container {
  margin-bottom: 40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin: auto;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
}

.column img {
  object-fit: cover;
  max-height: 100%;
  min-width: 100%;
  padding: 30px 30px;
  filter: brightness(60%);
}

.column {
  text-align: center;
  align-content: center;
  float: left;
  width: 33.33%;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}

.column .img-text {
  color: white;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 68%;
  /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%;
  /* Set the width of the positioned div */
}

.img {
  width: 100%;
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(73%);
}

.img a {
  width: 100%;
  height: 100%;
  display: block;
}

.heading_2 {
  margin-top: 50px;
  margin-bottom: 40px;
  align-items: center;
  height: 650px;
  position: relative;
  width: 100%;
  line-height: 650px;
}

.heading-img {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(73%);
}

.heading_2 .heading-text {
  color: white;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 10%;
  /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%;
  /* Set the width of the positioned div */
}

.heading-text h1 {
  font-size: 10vw; 
}

.animal-column {
  margin: auto; 
  justify-content: center;
  text-align: center;
  align-content: center;
  float: left;
  width: 50%;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

.animal-column ul {
  padding-top: 0px;
  padding-left: 75px;
  padding-right: 0px; 
  text-align: left; 
  line-height: 2em; 
}

.animal-column li {
  font-size: 15px; 
}

.animal-column img {
  width: 100%;
  padding: 10px;
  border: 4px solid #555;
}

.animal-column h4 {
  font-style: italic;
}


.animal {
  margin-top: 120px; 
  margin-bottom: 120px;
}

/* Large screens */
@media only screen and (min-width: 1024px) {}

/* Medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .column {
    width: 100%;
    margin-bottom: 30px;
  }

  .column .img-text {
    top: 60%;
    width: 100%;
  }

  .column .img-text h2 {
    font-size: 80px;
  }

  .row {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .animal-column {
    width: 100%;
  }

  .img {
    height: 550px;
  }
}

/* Small screens */
@media only screen and (max-width: 767px) {
  .column {
    width: 100%;
    margin-bottom: 30px;
  }

  .column .img-text h2 {
    font-size: 100px;
  }
}